<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <title>{{title}}</title>
    </head>
<body>

    <div>
        <a href='/'>Home Page</a> <a href='/blog'>Main Blog Page</a> <a href='/newpost'>Add a Post</a>
    </div>
    <div>
        <a href='/login'>Log In</a> <a href='/logout'>Log Out</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>         
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>