{% extends 'base.html' %}

{% block content %}
    <h1>All of the Blogs!!!</h1>
    {% if blogs|length == 0 %}
    <p>No Blogs yet. Click <a href = '/newpost'>New Post</a> to write something!</p>
    {% else %}
    {% endif %}
    <p>Click <a href = '/newpost'>Here</a> to write a new post!</p>
    <h3>Blog List</h3>
        <ul>
            {% for blog in blogs %}
            <li><h4><a href='/display_blog?id={{blog.id}}'>{{blog.title}}</a></h4>
                {{blog.body}}
                <hr/>
            </li>
            {% endfor %}
        </ul>

{% endblock %}