{% extends 'base.html' %}

{% block content %}
    <h1>Let's write a Blog Post</h1>
    <form method='post'>
        <label>
            Blog Title:
            <input class='blog_title' type='text' name='blog_title' value='{{blog_title}}' />
        </label>    
        <p class='error'>{{blog_title_error}}</p>
        </br>
        <label>
            New Blog Post:
            <input class='input_area' type='text' name='body' value='{{body}}' />
        </label>    
        <p class='error'>{{body_error}}</p>
        <input type='submit' value='Submit Post' />
    </form>

{% endblock %}

